<%- include('components/header', {title: "Add"}); %>
<%- include('components/nav', { add: "active"}); %>
<div class="uk-container uk-container-xsmall" style="padding-top: 40px; min-height: 70vh;">
  <% if ( sessionFlash && sessionFlash.message) { %>
  <div class="uk-alert-<%= sessionFlash.type %>" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p><%= sessionFlash.message %></p>
  </div>
  <% } %>
  <h2>
    Adding a new Product
  </h2>
  <form class="uk-grid-small" uk-grid style="margin-top: 1%;" method="POST" enctype="multipart/form-data">
    <div class="uk-width-1-1">
      <input class="uk-input" type="text" maxlength="95" name="desc" placeholder="Product description">
    </div>
    <div class="uk-width-1-1">
      <input class="uk-input" type="text" name="title" placeholder="Product title" required>
    </div>
    <div class="uk-width-1-4@s">
      <input class="uk-input" type="number" name="price" placeholder="Product price" required>
    </div>
    <div class="uk-width-1-4@s">
      <input class="uk-input" type="number" name="quantity" placeholder="Product's quantity" required>
    </div>
    <div uk-form-custom="target: true" uk-tooltip="title: Accepted file types: png/jpg/jpeg; pos: right">
      <input type="file" name="img">
      <input class="uk-input uk-form-width-small" type="text" placeholder="Upload here" autocomplete="false">
      <div class="uk-text-small uk-inline">Product's picture</div>
    </div>
    <div class="uk-width-1-1@s uk-text-center uk-margin">
      <input type="submit" value="Add product" class="uk-button uk-button-secondary">
    </div>
  </form>

</div>
<%- include ('components/footer') %>