<%- include('components/header', { title: "Add Ticket Category" }); %>
<%- include('components/nav', { }); %>
<div class="uk-container uk-container-xsmall" style="padding-top: 40px; min-height: 70vh;">
  <% if ( sessionFlash && sessionFlash.message) { %>
  <div class="uk-alert-<%= sessionFlash.type %>" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p><%= sessionFlash.message %></p>
  </div>
  <% } %>
  <h2>
    Adding a new TicketCategory for <%= event.title %>
  </h2>
  <form class="uk-grid-small" uk-grid style="margin-top: 1%;" method="POST" enctype="multipart/form-data">
    <div class="uk-width-1-1">
      <input class="uk-input" type="text" name="title" placeholder="Category's title" required>
    </div>
    <div class="uk-width-1-1">
      <input class="uk-input" type="text" maxlength="95" name="desc" placeholder="Category's description" required>
    </div>
    <div class="uk-width-1-4@s">
      <input class="uk-input" type="number" name="price" placeholder="Category's price" required>
    </div>
    <div class="uk-width-1-4@s">
      <input class="uk-input" type="number" name="quantity" placeholder="Category's volume" required>
    </div>
    <div class="uk-width-1-1@s uk-text-center uk-margin">
      <input type="submit" value="Add category" class="uk-button uk-button-secondary">
    </div>
  </form>

</div>
<%- include ('components/footer') %>