<%- include('components/header', {title: "Admin"}); %>
<%- include('components/nav', {admin: "active" }); %>
<div class="uk-container" style="padding-top: 40px;">
    <% if ( sessionFlash && sessionFlash.message) { %>
    <div class="uk-alert-<%= sessionFlash.type %>" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p><%= sessionFlash.message %></p>
    </div>
    <% } %>
</div>

<div style="min-height: 70vh; text-align: center; padding-top: 5vh; margin: auto; max-width: 1000px;">

    <h2>
        BUY COINS
    </h2>

    <p>
        <a href="/buy">
            <img src="/assets/icons8-buy-upgrade-64.png" alt="Buy coins">
        </a>
    </p>

    <h3>
        ADD PRODUCT
    </h3>

    <p>
        <a href="/add">
            <img src="/assets/icons8-add-64.png" alt="Add product">
        </a>
    </p>

    <h3>
        PRODUCTS
    </h3>

    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
        <% redeemables.forEach(function(redeemable){ %>
        <div style="position: relative; margin-right: 1%; width: 30%;">
            <% if (redeemable.disabled) { %>
            <div
                style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.8); z-index: 2;">
                <h4 style="color: white; padding-top: 1vh;">
                    DISABLED
                </h4>
            </div>
            <% } %>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">
                    <%= redeemable.title %> (<%= redeemable.quantity %> left)
                </h3>
                <p>
                    <span><%= redeemable.price %></span>
                    <img src="/assets/icons8-coin-48.png" width="24" alt="balance in coins"
                        style="vertical-align: sub;">
                </p>
                <img src="<%= redeemable.img %>" alt="Tesco logo">
                <p>
                    <%= redeemable.desc %>
                </p>
                <% if (!redeemable.disabled) { %>
                <a href="/disable/<%= redeemable._id %>" class="uk-button uk-button-danger uk-margin" style="margin-bottom: 0px;">DISABLE</a>
                <a href="/export/<%= redeemable._id %>" class="uk-button uk-button-secondary uk-margin" style="margin-top: 0px;">EXPORT CODES</a>
                <% } %>
            </div>
            <% if (redeemable.disabled) { %>
            <a href="/enable/<%= redeemable._id %>" class="uk-button uk-button-primary uk-margin"
                style="z-index: 3; margin-left: -15px; margin-bottom: 0px; height: 40px; position: absolute; bottom: 40px;">ENABLE</a>
                <a href="/export/<%= redeemable._id %>" class="uk-button uk-button-secondary uk-margin"
                    style="z-index: 3; margin-left: -15px; height: 40px; margin-top: 0px; position: absolute; bottom: 0;">EXPORT CODESs</a>
            <% } %>
        </div>
        <% }); %>
    </div>

    <div class="uk-width-1-1@s uk-text-center uk-margin">
        <a href="/orders" class="uk-button uk-button-primary">
            VIEW ORDER HISTORY
        </a>
    </div>

</div>

<%- include ('components/footer') %>