<%- include('components/header', {title: "Profile"}); %>
<%- include('components/nav', {profile: "active"}); %>
<div class="uk-container uk-container-xsmall" style="padding-top: 40px; min-height: 70vh;">
  <% if ( sessionFlash && sessionFlash.message) { %>
  <div class="uk-alert-<%= sessionFlash.type %>" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p><%= sessionFlash.message %></p>
  </div>
  <% } %>

  <div class="uk-width-1-1@s uk-text-center uk-margin">
    <a href="/orders" class="uk-button uk-button-primary">
      VIEW ORDER HISTORY
    </a>
  </div>

  <form class="uk-grid-small" uk-grid style="margin-top: 8%;" method="POST" enctype="multipart/form-data">    
    <div class="uk-width-1-1">
      <small>Address</small>
      <input class="uk-input" type="text" maxlength="95" name="address" value="<%= user.address ? user.address : '' %>"
        placeholder="<%= user.address ? '' : 'Your address' %>">
    </div>
    <div class="uk-width-1-2@s">
      <small>Name</small>
      <input class="uk-input" type="text" name="name" value="<%= user.name %>" required>
    </div>
    <div class="uk-width-1-2@s">
      <small>Email</small>
      <input class="uk-input" type="text" value="<%= user.email %>" disabled>
    </div>
    <div class="uk-width-1-2@s">
      <small>Company (optional)</small>
      <input class="uk-input" type="text" name="company" value="<%= user.company ? user.company : '' %>"
        placeholder="<%= user.company ? '' : 'Your company' %>">
    </div>
    <div class="uk-width-1-2@s">
      <small>Password</small><br />
      <a href="/iforgot" style="line-height: 40px;">Click here to change your password</a>
    </div>
    <div class="uk-width-1-1@s uk-text-center uk-margin">
      <input type="submit" value="Save changes" class="uk-button uk-button-secondary">
    </div>
  </form>

</div>
<%- include ('components/footer') %>