<%- include('components/header', { title: "Tickets" }); %>
<%- include('components/nav', { ticketsTab: "active" }); %>
<div class="uk-container" style="padding-top: 40px;">
    <% if ( sessionFlash && sessionFlash.message) { %>
    <div class="uk-alert-<%= sessionFlash.type %>" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p><%= sessionFlash.message %></p>
    </div>
    <% } %>
</div>

<div style="min-height: 70vh; text-align: center; padding-top: 5vh; margin: auto; max-width: 1000px;">
    <p>
        Total: <%= tickets.length %> ticket<%= tickets.length === 1 ? '':'s' %>
    </p>

    <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
        <% tickets.forEach(function(ticket){ %>
        <div style="display: block;">
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">
                    <%= ticket._id %>
                </h3>
                <a href="#" class="uk-button uk-button-secondary uk-margin">Show QR code</a>
            </div>
        </div>
        <% }); %>
    </div>
    <% if ( tickets.length === 0) { %>
        <h3 class="uk-text-left">No tickets.</h3>
    <% } %>

</div>

<%- include ('components/footer') %>